<a href="https://colab.research.google.com/github/Nileshrak305/AssignmentsDBDA/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Print first **N natural numbers** using a loop.

In [ ]:
n = int(input("Enter the Number: "))
for i in range(1,n+1):
    print (i)

Enter the Number: 10
1
2
3
4
5
6
7
8
9
10

2. Print first **N even numbers**.

In [ ]:
n = int(input("Enter the Number: "))
for i in range(1,n+1):
    if i%2==0:
      print(i)

Enter the Number: 20
2
4
6
8
10
12
14
16
18
20

3. Print first **N odd numbers**.

In [ ]:
n = int(input("Enter the Number: "))
for i in range(1,n+1):
    if i%2!=0:
      print(i)

Enter the Number: 20
1
3
5
7
9
11
13
15
17
19

4. Write a program to calculate **sum of first N natural numbers**.

In [ ]:
n = int(input("Enter the Number: "))
sum=0
for i in range(1,n+1):
  sum+=i
print(sum)

Enter the Number: 50
1275

5. Find the **factorial of a number** using a loop.

In [ ]:
n = int(input("Enter the Number: "))
factorial=1
for i in range(1,n+1):
  factorial*=i
print(factorial)

Enter the Number: 5
120

6. Print the **Fibonacci series** up to N terms.

In [ ]:
a=0
b=1
n = int(input("Enter the Number: "))
for i in range(n):
  print(a,end=" ")
  next=a+b
  a=b
  b=next

Enter the Number: 10
0 1 1 2 3 5 8 13 21 34

7. Check if a number is a **prime number**.

In [ ]:
is_prime=False
n = int(input("Enter the Number: "))
if n==0 or n==1:
  print("Not a prime number")
else:
  for i in range(2,n):
    if(n%i==0):
      is_prime=True
      break

  if is_prime:
    print("Number is Not Prime Number")
  else:
    print("Number is Prime Number")

Enter the Number: 37
Number is Prime Number

7. Check if a number is a **prime number**.

In [ ]:
n = int(input("Enter a number: "))

if n > 1:
    for i in range(2, n):
        if n % i == 0:
            print(n, "is not a prime number.")
            break
    else:
        print(n, "is a prime number.")
else:
    print(n, "is not a prime number.")

Enter a number: 37
37 is a prime number.

8. Print all **prime numbers between 1 and 100**.

In [ ]:
for i in range(1, 101):
    if i > 1:
        for j in range(2, i):
            if i % j == 0:
                break
        else:
            print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

9. Count how many **digits are in a number**.

In [ ]:
a= int(input("Enter the Number"))
count=0

while a !=0:
    a=a//10
    count=count+1
print(count)

Enter the Number1111
4

10. Reverse the digits of a given number.

In [ ]:
a= int(input("Enter the Number"))
rev=0
while a>0:
    digit = a % 10
    rev = rev * 10 + digit
    a //= 10
print(rev)

Enter the Number123
321

14. Write a program to print numbers **divisible by 5** between 1 and 50.

In [ ]:
for i in range(1,51):
  if i%5==0:
    print(i)

5
10
15
20
25
30
35
40
45
50

13. Print the **square** of numbers from 1 to 10

In [ ]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

11. Check if a number is a **palindrome**

In [6]:
a= int(input("Enter the Number: "))
t=a
rev=0
while a>0:
    digit = a % 10
    rev = rev * 10 + digit
    a //= 10
if rev==t:
  print("Its Palindrome")
else:
  print("Its Not Palindome")

Enter the Number: 121
Its Palindrome