<a href="https://colab.research.google.com/github/Nileshrak305/AssignmentsDBDA/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program to print all characters of `"Python"` one by one using a loop.

In [ ]:
str="Python"
for i in str:
  print(i)

P
y
t
h
o
n

2. Check if the word `"Python"` exists in the string `"I am learning Python programming"`

In [ ]:
str="I am learning Python programming"
print("Python" in str)

True

3. Take a string input and print its length without using `len()`.

In [ ]:
str="I am learning Python programming"
count=0
for i in str:
  count+=1
print(count)

32

4. Write a program to count the number of uppercase and lowercase letters in `"Hello World"`.

In [ ]:
str="I am learning Python programming"
countup=0
countdown=0
for i in str:
  if i.isupper():
    countup+=1
  elif i.islower():
    countdown+=1
print(f"Number of Uppercase {countup} and Number of Lowercase {countdown}")

Number of Uppercase 2 and Number of Lowercase 26

5. Take a string and replace all occurrences of `"Java"` with `"Python"`.

In [ ]:
str="Java"
print(str.replace("Java","Python"))

Python

6. Write a program that checks if a string starts with `"Py"` and ends with `"on"`

In [ ]:
str="Python"
print(str.startswith("Py") and str.endswith("on") )

True

7. Create a tuple `(100, 200, 300, 400)` and slice the first three elements.

In [ ]:
t=(100,200,300,400)
print(t[:3])

(100, 200, 300)

8. Write a program to iterate through a tuple and print each element.

In [ ]:
t=("Bhavya", "Nilesh", "Nishant", "Ganesh", True, 1, ["Allu", "Dhaniya", "Pyaj"])
for i in t:
  print(i)

Bhavya
Nilesh
Nishant
Ganesh
True
1
['Allu', 'Dhaniya', 'Pyaj']

9. Create a nested tuple and access the innermost element.

In [ ]:
t=("Nilesh", "Bhavya",("Nishant", "Ganesh"), True)
print(t[2][1])

Ganesh

10. Take two tuples `(1, 2, 3)` and `(4, 5, 6)` and merge them into a single tuple.

In [ ]:
t1=(1,2,3)
t2=(4,5,6)
t3=(t1+t2)
print(t3)

(1, 2, 3, 4, 5, 6)

In [ ]:
t1=(1,2,3)
t2=(4,5,6)
t3=(t1,t2)

11. Write a program to find maximum and minimum values from the tuple `(10, 25, 3, 40, 5)`.

In [ ]:
t=(10, 25, 3, 40, 5)
t2=sorted(t)
print("Minimum ",t2[0])
print("Maximum ",t2[4])

t3=min(t)
t4=max(t)
print("Minimum ",t3)
print("Maximum ",t4)

Minimum  3
Maximum  40
Minimum  3
Maximum  40

12. Create a set `{10, 20, 30}` and check if `40` exists in it.

In [ ]:
a={10,20,30}
print(40 in a)

False

13. Write a program to remove a random element from set `{1, 2, 3, 4, 5}` using `pop()`.

In [ ]:
s1={1, 2, 3, 4, 5}
print(s1.pop())

1

14. Find the difference between sets `{1, 2, 3, 4}` and `{3, 4, 5, 6}`.

In [ ]:
t1={1, 2, 3, 4}
t2={3, 4, 5, 6}
print(t1-t2)

{1, 2}

15. Write a program to check if two sets `{1, 2}` and `{3, 4}` are disjoint.

In [ ]:
a={1,2,}
b={3,4}
print(a.isdisjoint(b))

False