<a href="https://colab.research.google.com/github/Nileshrak305/AssignmentsDBDA/blob/main/python_assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program to input 10 integers from user and store in a list. Print them.

In [1]:
l1=[]
for i in range(10):
  a=int(input("ENTER NUMBER"))
  l1.append(a)

print(l1)

ENTER NUMBER2
ENTER NUMBER1
ENTER NUMBER5
ENTER NUMBER6
ENTER NUMBER8
ENTER NUMBER6
ENTER NUMBER2
ENTER NUMBER4
ENTER NUMBER1
ENTER NUMBER5
[2, 1, 5, 6, 8, 6, 2, 4, 1, 5]

2. Find common elements between two lists.

In [ ]:
l1=[1,2,3,4,5]
l2=[4,5,2,7,1]
l3=[]
for i in l1:
  if i in l2:
    l3.append(i)
print(l3)

[1, 2, 4, 5]

3. Write a program to remove all even numbers from a list.

In [ ]:
l1=[1,2,3,4,5,67,8]
print([x for x in l1 if x%2==0])

[2, 4, 8]

4. Write a program to concatenate list of strings into one string.

In [ ]:
l1=["abc","b","c"]
l2="".join(l1)
print(l2)

abcbc

5. Flatten a nested list (e.g., `[[1,2],[3,4],[5]] â†’ [1,2,3,4,5]`).

In [ ]:
emp=[]
l1=[[1,2],[3,4],[5]]
for i in l1:
  for j in i:
    emp.append(j)
print(emp)

[1, 2, 3, 4, 5]

6. Write a program to generate a list of first 10 Fibonacci numbers.

In [ ]:
a= 0
b= 1
for i in range(10):
  print(a,end=" ")
  c=a+b
  a=b
  b=c
print(c)

# a= 0
# b= 1
# for i in range(10):
#   print(a,end=" ")
#   a,b=b,b+a

0 1 1 2 3 5 8 13 21 34 89

7. Write a program to count vowels in a given string and store results in a dictionary.

In [ ]:
a="Mathematics"
count=0
for i in a:
  if i in "aeiou":
    count=count+1
print(count)

# a={i:i**2 for i in range(6)}
# print(a)

4

In [6]:
a = "Mathematics"
vowels = "aeiouAEIOU"
dic = {}
for v in a:
    if v in vowels:
        if v in dic:
            dic[v] += 1
        else:
            dic[v] = 1
print(dic)

{'a': 2, 'e': 1, 'i': 1}

8. Write a program to find union and intersection of two lists using sets.

In [10]:
l1=[1,2,3,4]
l2=[3,4,5,6]
print("Union:",set(l1) & set(l2))
print("Intersection:",set(l1) | set(l2))

Union: {3, 4}
Intersection: {1, 2, 3, 4, 5, 6}

9. Write a program to check if a list is palindrome.

In [17]:
l1=[1,2,5,2,1]
if l1 ==l1[::-1]:
  print("Its Palindrome")
else:
  print("Its not Palindrome")

Its Palindrome

10. Write a program to remove all duplicates from a list without using `set()`.

In [18]:
li= [1,2,2,5,6,4,7,8,9,9]
l2=[]
for x in li:
  if x not in l2:
    l2.append(x)
print(l2)

[1, 2, 5, 6, 4, 7, 8, 9]

11. Write a program to filter dictionary by keeping only items where value > 50.

In [27]:
marks={"English":49, "Maths": 51, "Science":50, "Hindi": 52 }
for i in marks:
  if marks[i] >50:
    print(i)

Maths
Hindi

12. Write a program to count frequency of words in a sentence (word â†’ count dictionary).

In [33]:
a = "Python is Very easy, python is powerful"
n = sentence.replace(".", "").lower()
words=n.split()
dic = {}
for word in words:
    if word in words:
        dic[word] += 1
    else:
        dic[word] = 1

print("Word â†’ Count Dictionary:")
print(dic)

NameError: name 'sentence' is not defined

13.Convert two lists into a dictionary (keys from list1, values from list2).

In [24]:
list1=["Maths", "Science", "SST","Phyics"]
list2=[30,50,40,56]
mydic=dict(zip(list1,list2))
print(mydic)

{'Maths': 30, 'Science': 50, 'SST': 40, 'Phyics': 56}

14. Write a program to find all keys in dictionary with duplicate values.

In [30]:
marks = {'Maths': 30, 'Science': 20, 'Pysics': 30, 'Sports': 25}
d = []

for key in marks:
    v = marks[key]
    count = list(marks.values()).count(v)
    if count > 1 and key not in d:
        d.append(key)

print("Keys with duplicate values:", d)

Keys with duplicate values: ['Maths', 'Pysics']

15. Write a program to sort dictionary keys alphabetically.

In [32]:
marks = {'Maths': 30, 'Arts': 20, 'Pysics': 30, 'Sports': 25}

for key in sorted(marks.keys()):
    print(key, ":", marks[key])

Arts : 20
Maths : 30
Pysics : 30
Sports : 25